[submodule "lib/recomp-net"]
	path = lib/recomp-net
	url = https://github.com/Unchiga/recomp-net.git
	branch = ygofm-upstream-2026-09-09

[submodule "lib/retcomm-rbengine"]
	path = lib/retcomm-rbengine
	url = https://github.com/RetroPortingToolKit/rbengine.git
	branch = main
